###> intellij/phpstorm ###
.idea
###< intellij/phpstorm ###

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
#.phpunit.result.cache  # File already ignored in phpunit/phpunit section
#/phpunit.xml           # File already ignored in phpunit/phpunit section
###< symfony/phpunit-bridge ###